<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserDao">
    <!-- 先定义一个Interface，UserMapper，然后Mapper文件的namespace指向的就是这个Interface， UserInterface里定义的方法和UserMapper.xml文件中的一样,
        然后代码里直接使用接口 -->
<!--    <resultMap id="BaseResultMap" type="com.entity.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="userName" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    </resultMap>-->

    <sql id="Base_Column_List">
        id, userName, password, email, phone, roleName
    </sql>


    <!-- 根据分页数据start 和size查询数据 -->
    <select id="findByPage" parameterType="Map" resultType="com.entity.User">
        select
        <include refid="Base_Column_List" />
        from tb_user
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--查询所有用户数据 -->
    <select id="selectUserList" resultType="com.entity.User">
        select
        <include refid="Base_Column_List" />
        from tb_user
    </select>

    <!-- 查询用户记录总数 -->
    <select id="selectCount" resultType="int">
        select count(*) from tb_user
    </select>


</mapper>